
    h1{
        text-align: center;
        font-size: 40px;
        margin: 0.5rem;
        margin-top: 50px;
        font-family: fantasy;
    }



div{
    border: thin;
    border: solid;
    border-color: black;
    padding: 2px;
    margin: 2px;
}
