h1{
    text-align: center;
    font-size: 40px;
    margin: 0.5rem;
    margin-top: 50px;
    font-family: fantasy
}

form{
    text-align: left;
    font-size: 15px;
    margin: 0.5rem;
    margin-top: 50px;
    font-family: 'Times New Roman', Times, serif;
}

table{
    text-align: center;
    font-size: 14px;
    margin: 0.5rem;
    margin-top: 50px;
    font-family: fantasy
}